<div class="container">
  <nav class="navbar navbar-dark bg-primary">
    <span class="navbar-brand mb-0 h1">{{title}}</span>
  </nav>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/cart">My Cart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/order">Order</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/invoice">Invoice</a>
    </li>
  </ul>
  <app-messages></app-messages>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>


